
.form-review__other-wrapper {
  width: auto;
  margin-right: 0px;
}

.form-review__other-warning {
  margin-bottom: 10px;
}

.form-review__input-other {
  margin-bottom: 0;
}

.new-rate {
  position: relative;
  width: 100px;
  height: 20px;
  background-image: url(./icon-star.svg);
  background-size: 20px 20px;
  background-repeat: space;
}

.new-rate__label {
  position: absolute;
  width: 100px;
  height: 20px;
  background-size: 20px 20px;
  background-repeat: space;
}

.new-rate__label:hover,
.new-rate_input:checked + .new-rate__label {
  background-image: url(./icon-full-star.svg);
}

.new-rate__label:hover ~ .new-rate__label {
  background-image: url(./icon-star.svg);
}


.new-rate__label:nth-of-type(1) {
  z-index: 5;
  width: 20px;
}

.new-rate__label:nth-of-type(2) {
  z-index: 4;
  width: 40px;
}

.new-rate__label:nth-of-type(3) {
  z-index: 3;
  width: 60px;
}

.new-rate__label:nth-of-type(4) {
  z-index: 2;
  width: 80px;
}

.new-rate__label:nth-of-type(5) {
  z-index: 1;
  width: 100px;
}

.new-rate_input:focus + label {
  outline: 1px solid #000000;
  outline-offset: -1px;
}
